@charset UTF-8;

div#interface {
    width: 1200px;
    background-color: white;
    margin:-10px auto 10px auto ;
    box-shadow: 1px 1px 10px red;
    padding: 10px;
}

/* menu principal */
nav#menu {
    display: block;
}

nav#menu h1{
    display: none;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
    left: 320px;
}

nav#menu li{
    display: inline-block;
    font-size: 20pt;
    background-color: whitesmoke;
    padding: 20px;
    
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu a{
    text-decoration: none;
    color: black;
}

nav#menu a:hover{
    color: white;
}

nav#menu figure#idioma_pagina{
    display:block;
    float: right;
}

/* conteudo */


figure#rosto {
	position: relative;
}

figure#rosto img{
    margin-top: 35px;
    width: 50%;
    height: 50%;
    padding: 1px;
    border: 1px solid gray;
	box-shadow: 1px 1px 1px gray;
    border-radius: 100%;

}

section#corpo {
    background-color: #dddddd;
    color: black;
    display: block;
    float: left;
    padding: 15px;
    width: 450px;
    text-align: center;
}

table#dados caption{
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
}

table#dados {
    border-spacing: 0px;
    /*border: 1px solid #606060;*/
    margin-left: auto;
    margin-right: auto;

}

table#dados td{
   /* border: 1px solid #606060;*/
    padding: 5px;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif
}

table#dados td img{
    height: 30%;
    width: 55%;
}

table#dados td.cd{
    text-align: left;
    padding: 10px;
}
table#dados td.ce{
    text-align: right;
}

aside#lateral{
    display:block;
    float: right;
    padding: 15px;
    width: 400px;
}

footer#rodape {
    clear: both;
}